body {
    background: #121212;
    color: white;
    font-family: Arial;
    margin: 0;
}

h1 {
    padding: 20px;
}

.nav {
    padding: 0 20px;
}

.nav a {
    margin-right: 15px;
    color: #1db954;
}

.songs {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

audio {
    width: 100%;
    margin-top: 10px;
}

.card a {
    display: block;
    margin-top: 10px;
    color: red;
}