
/* BODY */
body {
    background: #000;
    color: white;
    font-family: Arial;
    margin: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
}

.navbar h1 {
    color: #1db954;
}

/* NAV RIGHT */
.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* LINKS */
a {
    color: #1db954;
    text-decoration: none;
}

/* INPUT */
input {
    padding: 8px;
    border-radius: 20px;
    border: none;
}

/* BUTTON */
button {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background: #1db954;
    color: white;
    cursor: pointer;
}

/* MOOD */
.mood-section {
    text-align: center;
    padding: 20px;
}

.mood-section a {
    margin: 5px;
    padding: 10px;
    background: #1db954;
    border-radius: 20px;
    color: white;
}

/* PLAYLIST */
.playlist-section {
    padding: 20px;
}

/* SONG GRID */
.songs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

/* CARD */
.card {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #1db954;
}

/* IMAGE */
.cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background: #222;
}

/* PLAYER */
.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #181818;
    padding: 10px;
    text-align: center;
}

#audioPlayer {
    width: 80%;
}