body{
    background:#121212;
    color:white;
    font-family: Arial, sans-serif;
}

/* Songs container */
.songs{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
}

/* Card */
.card{
    background:#181818;
    padding:15px;
    border-radius:12px;
    width:180px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    background:#282828;
    transform:scale(1.05);
}

/* Image */
.card img{
    width:100%;
    border-radius:10px;
}

/* Button */
button{
    background:#1db954;
    border:none;
    padding:8px 12px;
    color:white;
    border-radius:20px;
    cursor:pointer;
}

button:hover{
    background:#1ed760;
}