<!DOCTYPE html>
<html>
<head>
    <title>Melofy</title>

    <!-- ⚠️ CACHE FIX -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=2) }}">
</head>

<body>

<div class="navbar">
    <h1>🎧 Melofy</h1>
    <a href="/upload">Upload</a>
</div>

<div class="songs-container">

{% for song in songs %}
<div class="card">

    <img src="/{{song['image']}}" class="cover">

    <h3>{{song['name']}}</h3>

    <audio controls>
        <source src="/{{song['file']}}">
    </audio>

</div>
{% endfor %}

</div>

</body>
</html>