<!DOCTYPE html>
<html>
<head>
    <title>Melofy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="navbar">
    <h1>🎧 Melofy</h1>

    <div class="nav-right">
        <a href="/">Home</a>
        <a href="/trending">🔥 Trending</a>
        <a href="/recommend">🤖 For You</a>

        <form action="/search" class="search-box">
            <input type="text" name="q" placeholder="Search songs">
            <button>Search</button>
        </form>
    </div>
</div>

<div class="songs-container">

{% for song in songs %}

<div class="card">

    <img src="/{{ song['image'] }}" class="cover">

    <h3>{{ song['name'] }}</h3>

    <button onclick="playSong({{loop.index0}})" class="play-btn">
        ▶ Play
    </button>

    <a href="/like/{{song['id']}}">❤️ Like</a>

</div>

{% endfor %}

</div>

<!-- PLAYER -->
<div class="player">
    <p id="nowPlaying">No song selected</p>

    <button onclick="prevSong()">⏮</button>
    <button onclick="nextSong()">⏭</button>

    <audio id="audioPlayer" controls></audio>
</div>

<script>

let songs = [
{% for song in songs %}
{
    file: "{{song['file']}}",
    name: "{{song['name']}}",
    id: {{song['id']}}
},
{% endfor %}
];

let currentIndex = 0;

function playSong(index){
    currentIndex = index;

    let player = document.getElementById("audioPlayer");
    let title = document.getElementById("nowPlaying");

    player.src = "/" + songs[index].file;
    player.play();

    title.innerText = songs[index].name;

    fetch("/play/" + songs[index].id);
}

function nextSong(){
    currentIndex++;
    if(currentIndex >= songs.length){
        currentIndex = 0;
    }
    playSong(currentIndex);
}

function prevSong(){
    currentIndex--;
    if(currentIndex < 0){
        currentIndex = songs.length - 1;
    }
    playSong(currentIndex);
}

// 🔥 AUTO PLAY NEXT
document.getElementById("audioPlayer").addEventListener("ended", function(){
    nextSong();
});

</script>

</body>
</html>