<!DOCTYPE html>
<html>
<head>
    <title>Melofy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="navbar">
    <h1>🎧 Melofy</h1>

    <form action="/create_playlist" method="POST">
        <input type="text" name="name" placeholder="New Playlist">
        <button>Create</button>
    </form>

</div>

<!-- PLAYLIST LIST -->
<div style="padding:20px;">
<h3>📂 Playlists</h3>

{% for p in get_playlists() %}
    <a href="/playlist/{{p['id']}}">{{p['name']}}</a><br>
{% endfor %}
</div>

<hr>

<div class="songs-container">

{% for song in songs %}

<div class="card">

    <img src="/{{ song['image'] }}" class="cover">

    <h3>{{ song['name'] }}</h3>

    <button onclick="playSong({{loop.index0}})" class="play-btn">
        ▶ Play
    </button>

    <!-- ADD TO PLAYLIST -->
    <form action="/add_to_playlist/{{song['id']}}" method="POST">
        <select name="playlist_id">
            {% for p in get_playlists() %}
                <option value="{{p['id']}}">{{p['name']}}</option>
            {% endfor %}
        </select>
        <button>Add</button>
    </form>

</div>

{% endfor %}

</div>

<!-- PLAYER -->
<div class="player">
    <p id="nowPlaying">No song</p>
    <audio id="audioPlayer" controls></audio>
</div>

<script>

let songs = [
{% for song in songs %}
{
    file: "{{song['file']}}",
    name: "{{song['name']}}"
},
{% endfor %}
];

function playSong(index){
    let player = document.getElementById("audioPlayer");
    let title = document.getElementById("nowPlaying");

    player.src = "/" + songs[index].file;
    player.play();

    title.innerText = songs[index].name;
}

</script>

</body>
</html>