<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>

    <!-- ⚠️ CACHE FIX -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=2) }}">
</head>

<body>

<div class="upload-container">

<h2>Upload Songs</h2>

<a href="/">⬅ Back</a>

<form action="/upload" method="POST" enctype="multipart/form-data">

    <label>Image</label>
    <input type="file" name="image">

    <label>Songs</label>
    <input type="file" name="songs" multiple>

    <button>Upload</button>

</form>

</div>

</body>
</html>