<!DOCTYPE html>
<html>
<head>
    <title>Upload Songs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="upload-container">

    <h2>🎵 Upload Songs</h2>

    <a href="/" class="back-btn">⬅ Back to Home</a>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <label>Common Image</label>
        <input type="file" name="image">

        <label>Select Songs</label>
        <input type="file" name="songs" multiple required>

        <button type="submit">Upload All</button>

    </form>

</div>

</body>
</html>